@{
    <title>Return View</title>
}

<h2>Return View</h2>
<p>This is a most common and very frequently used type. We see that we can pass eight parameters when we return the view. We can specify the view name explicitly or may not.</p>

