@{
    <title>Redirect To Action</title>
}

<h2>Redirect To Action</h2>
<p>Sometimes it is necessary to call another action after completion of one action, this is very similar to a function call in traditional function oriented programming or Object Oriented Programming. It may take 6 parameters. The first parameter is very simple, only action name.</p>

